/* body {
    background-color:rgb(42, 42, 42);
} */

.container {
    margin-top: 20px;
}

.gridColAll {
    grid-column: span 5;
}

.infoContainer {
    grid-column: span 4;
    padding: 20px;
    font-size: 1.05rem;
}

.infoContainer span {
    font-weight: bold;
}

.gridContainer {
    width: 80%;
    padding: 50px;
    margin: auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 20px;
}

.nameContainer {
    font-size: 2rem;
    font-weight: bold;
}

.jobContainer {
    font-size: 1.1rem;
}

.personImg {
    width: 100%;
}

.biographyContainer {
    margin-top: 20px;
    font-size: 1.2rem;
}

.playedTitles {
    display: flex;
}