.modalDialog {
    max-width: 100% !important;
    max-height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.content {
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

.body {
    padding: 0 !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    object-fit: contain;
    max-height: 100% !important;
    height: 90vh !important;
    width: 100% !important;
}