.container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  min-height: 100vh;
  min-width: 100%;
}

.headTitleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.headTitle {
  font-size: 3rem;
  font-weight: bold;
}

.lbl {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}