.container {
  /* background-color: rgb(26, 26, 26); */
  background-color: rgb(246, 246, 246);
  border-radius: 3px;
}

.imageContainer {
  width: 100px;
}

.image {
  width: 100%;
  /* object-fit: contain; */
  border-radius: 3px;
}

/* .cardDetail {
  margin-top: 20px;
} */

.titleLink {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 20px;
  font-weight: bold;
}