.container {
  background-color: rgb(246, 246, 246);
  border-radius: 3px;
}

.imageContainer {
  width: 100px;
}

.image {
  width: 100%;
  border-radius: 3px;
}

.titleLink {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.deleteBtn {
  border: none;
  background-color: inherit;
  border: 1px solid black;
  padding: 10px;
  transition: 0.2s;
  color: black;
}

.deleteBtn:hover {
  background-color: rgb(222, 79, 79);
  color: white;
  border-color: rgb(222, 79, 79);
}

.deleteBtn:active {
  background-color: rgb(227, 37, 37);
  color: white;
  border-color: rgb(227, 37, 37);
}

.watchedBtn:hover {
  background-color: rgb(112, 226, 112);
  border-color: rgb(112, 226, 112);
  color: black;
}

.watchedBtn:active {
  background-color: rgb(51, 206, 51);
  border-color: rgb(51, 206, 51);
  color: black;
}

.posterNotFound {
  width: 100px;
  height: 150.26px;
  background-color: rgb(219, 219, 219);
  color: rgb(181, 181, 181);
}

@media (max-width: 767.2px) {
  .centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}