.container {
    margin-top: 40px;
}

.headContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.leftInnerContainer {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.3rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.releaseDate {
    margin: 0;
    padding: 0;
}

.rightInnerContainer {
    display: flex;
}

.usersRatingText {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 0.85rem;
    color:dimgrey;
    margin-bottom: 6px;
}

.vote {
    padding:0;
    margin:0;
    font-weight: bold;
    font-size: 1.4rem;
}

.voteCount {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    line-height: 0.6rem;
}

.yourRatingText {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    font-weight: bold;
    color:dimgrey;
    font-size: 0.85rem;
}

.middleContainer {
    display: flex;
}

.poster {
    width: 300px;
    object-fit: contain;
}

.slider {
    padding: 3px;
}

.bottomContainer {
    margin-top: 20px;
    margin-bottom: 100px;
}