@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

.top0 {
  top: 0;
}

.customContainer {
  width: 85% !important;
  max-width: 100% !important;
  padding: 0;
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-p {
  line-height: 1.4;
}

.color-inherit {
  color: inherit;
}

.no-hover:hover {
  color: inherit;
}

.error-border {
  border-width: 2px !important;
}