@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

.top0 {
  top: 0;
}

.fresh-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.customContainer {
  width: 85% !important;
  max-width: 100% !important;
  padding: 0;
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-p {
  line-height: 1.4;
}

.color-inherit {
  color: inherit;
}

.color-inherit:hover {
  color: inherit;
}

.no-hover:hover {
  color: inherit;
}

.error-border {
  border-width: 2px !important;
}

.margin-end-to-page {
  margin-bottom: 50px;
}

.form {
  background-color: rgb(246, 246, 246);
  /* border: 1px solid black; */
}

.form-text-color {
  color: rgb(255, 202, 24);
}

.cursor-pointer-hover:hover {
  cursor: pointer;
}

.form-control:focus {
  box-shadow: none !important;
}

.z-index-1 {
  z-index: -1;
}