.addToWatchlistBtn {
  font-weight: bold;
  background-color: rgb(44, 44, 44);
  color: rgb(87, 153, 239);
  border-radius: 5px;
  transition: 0.2s;
}

.addToWatchlistBtn:hover {
  cursor: pointer;
  background-color: rgb(48, 53, 60);
}

.addToWatchlistBtn:active {
  background-color: rgb(54, 68, 88);
}