.searchInputs {
  color: white;
  width: 100%;
}

.searchBoxInput {
  border-radius: 5px;
  text-align: center;
  height: 35px;
  width: 100%;
  border: none;
  outline: none;
}

.searchBoxInput:focus {
  border: 3px solid rgb(245, 197, 24);
}

.searchButton:hover {
  background-color: black;
  color: white;
}

.queryResultContainer {
  position: absolute;
  background-color: rgb(26, 26, 26);
  margin-top: 5px;
  width: 100%;
  z-index: 1;
  color: white;
  border-radius: 5px;
}

.resultMovieContainer {
  padding: 10px;
  transition: 0.1s;
  display: flex;
  border-radius: 5px;
}

.resultMovieContainer:hover {
  background-color: rgb(49, 49, 49);
  color: white;
}

.resultMovieImgContainer {
  flex: 1;
}

.resultMovieImg {
  width: 100%;
}

.resultMovieInfoContainer {
  flex: 6;
  margin-left: 5px;
  font-weight: normal;
}

.resultMovieReleaseDateContainer {
  color: rgb(188, 188, 188);
}

.imageNotFound {
  --r: 154/231;
  aspect-ratio: var(--r);
  background-color: rgb(219, 219, 219);
  color: rgb(181, 181, 181);
}