.container {
    width: 80%;
    margin: 40px auto;
    /* overflow: hidden; */
}

.title {
    font-weight: bold;
    font-size: 2rem;
    margin: 20px auto;
    color: rgb(245, 197, 24);
}

/* .innerContainer {
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 15px;
    background-color: black;
    display: flex;
}  */