.carouselSlide {
    display: flex;
    position: relative;
}

#prevBtn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s;
    padding: 10px;
}

#prevBtn:hover {
    font-size: 5rem;
}

#prevBtn:active {
    padding-right: 20px;
    padding-left: 0;
}

#nextBtn {
    position: absolute;
    /* top: 0; */
    top: 50%;
    transform: translate(0, -50%);
    /* min-height: 100%; */
    z-index: 1;
    font-size: 2rem;
    right: 0;
    font-weight: bold;
    border: none;
    background-color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.2s;
}

#nextBtn:hover {
    font-size: 5rem;
}

#nextBtn:active {
    padding-left: 20px;
    padding-right: 0;
}

.slider {
    min-width: 100%;
}

