.trailer-dialog {
    max-width: 80% !important;
    width: 80% !important;
}

.trailer-content {
    height: 80vh;
}

.carousel-control-prev {
    justify-content: start;
    padding-left: 10px;
}

.carousel-control-next {
    justify-content: end;
    padding-right: 10px;
}

.carousel-control-next,
.carousel-control-prev {
    width: auto !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 30px;
    height: 30px;
}