.poster {
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

.poster:hover {
    opacity: 0.8;
}

@media (max-width: 991.2px) {

    .poster {
        width: 50%;
    }

    .trailerCardContainer {
        margin-top: 30px;
    }

}