.yourListstxt {
    color: rgb(165, 133, 0);
    font-size: 2rem;
}

.button {
    color: inherit;
    border: none;
}

.button:hover {
    background-color: rgb(49, 49, 49);
}

.button:active {
    background-color: rgb(103, 103, 103);
}

.avatarContainer {
    width: 15%;
}

.avatar {
    width: 40%;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px black;

}

@media (max-width: 991.2px) {

    .avatarContainer {
        width: 80%;
    }

}