.button {
    background-color: inherit;
    color: inherit;
    border: none;
}

.button:hover {
    background-color: rgb(49, 49, 49);
}

.button:active {
    background-color: rgb(103, 103, 103);
}