.container {
  /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem; */
  /* margin-bottom: 50px; */
  background-color: black;
  border-radius: 5px;
  padding: 39px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 100vmax black;
  clip-path: inset(0 -100vmax);
}

.title {
  font-weight: bold;
  font-size: 2rem;
  margin: 20px auto;
  color: rgb(245, 197, 24);
}
