.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratingBtnTxt {
    font-size: 1.5rem;
}

.modalRatingTxt {
    font-size: 2rem;
}

.starInput {
    display: none;
}

.star:hover {
    cursor: pointer;
}