.container {
    background-color: rgb(26, 26, 26);
    z-index: 1;
}

.logo {
    color: black;
    font-weight: bold;
}

.menu {
    color: white;
    display: flex;
}

.linkUrl {
    text-decoration: none;
    color: white;
}

.linkUrl:hover {
    color: white;
}

.linkUrl:focus {
    background-color: inherit;
    color: white;
}

.search {
    width: 40%;
    position: absolute;
}

.navBtn {
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(26, 26, 26);
}

.navBtn:hover {
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
}

.navBtn:active {
    background-color: rgb(72, 72, 72);
}

.dropdownMenu {
    background-color: rgb(31, 31, 31);
    color: white;
    transition: 0.2s;
    min-width: 8rem !important;
}

.dropdownItem:hover {
    background-color: rgb(49, 49, 49);
}

.dropdownItem:active {
    background-color: rgb(72, 72, 72);
}

.navbarDropdown {
    color: white;
}

.navbarDropdown:hover {
    color: white;
}

.topItem {
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bottomItem {
    border-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

@media (max-width: 991.2px) {

    .search {
        position: relative;
    }

}