.container {
  /* margin-right: 10px; */
  border: 1px solid black;
  border-radius: 20px;
  padding: 6px 13px;
  color: black;
  font-size: 0.9rem;
  transition: 0.2s;
}

.container:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px black;
}