.container {
    margin: auto;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* width: 100%; */
    
}
.poster {
    width: 180px;
    border-radius: 10px;
    border: 1px solid white;
}

.title {
    color: white;
    margin-top: 10px;
    text-align: center;
}